<mat-toolbar >
  <span class="text-white text-lg font-semibold mr-10">WMS</span>

  <span>
    <a mat-button routerLink="/   " class="text-white text-sm font-medium">Dashboard</a>
    <a mat-button routerLink="/inventory" class="text-white text-sm font-medium">Inventory</a>
    <a mat-button routerLink="/orders" class="text-white text-sm font-medium">Orders</a>
    <a mat-button routerLink="/shipments" class="text-white text-sm font-medium">Shipments</a>
    <a mat-button routerLink="/settings" class="text-white text-sm font-medium" (click)="toggleTheme()">Settings</a>
  </span>
</mat-toolbar>
