<div class="p-8 space-y-10">
  <div class="cards">
    <mat-card class="sub-cards">
      <h2 class="text-sm text-gray-500">Total Inventory Value</h2>
      <p class="text-2xl font-bold">$2.5M</p>
    </mat-card>

    <mat-card class="sub-cards">
      <h2 class="text-sm text-gray-500">Orders to Fulfill</h2>
      <p class="text-2xl font-bold">120</p>
    </mat-card>

    <mat-card class="sub-cards">
      <h2 class="text-sm text-gray-500">Shipments in Transit</h2>
      <p class="text-2xl font-bold">75</p>
    </mat-card>
  </div>
</div>